@import "variables";

.user {
  position: relative;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px $darkgray solid;
  .user-actions {
	position: absolute;
	width: 30%;
	right: 0;
	top: 0;
	text-align: right;
	form {
	  display: inline-block;
	  text-align: right;
	}
  }
}
